<div class="container">
    <h1>Create a new Region</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="regionId">Region Id:</label>
            <div class="controls">
                <input type="text" id="regionId" ng-model="region.regionId" placeholder="Region Id"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="regionName">Region name:</label>

            <div class="controls">
                <input type="text" id="regionName" ng-model="region.regionName" placeholder="Region name"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="saveNewRegion()" class="btn btn-small btn-primary">Save</a>
                <a href="#/regions" class="btn btn-small btn-primary">Cancel</a>
            </div>
        </div>
    </form>
</div>