<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Regions</title>
</head>
<body>
<table class="table regiontable">
  <tr>
    <td colspan="2"><h3>All Regions</h3></td>
    <td><a ng-click="createNewRegion()" class="btn btn-primary">Add New Region</a></td>
  </tr>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>&nbsp</td>
  </tr>
  <tr ng-repeat="region in regions">
    <td>{{region.regionId}}</td>
    <td>{{region.regionName}}</td>
    <td>
      <a ng-click="editRegion(region.regionId)" class="btn btn-small btn-primary">Edit</a>
      <a ng-click="deleteRegion(region.regionId)" class="btn btn-small btn-danger">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>