<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Regions</title>
</head>
<body>
<table class="table regiontable">
  <tr>
    <td colspan="2"><h3>All Regions</h3></td>
    <td><a href="#/newRegion" class="btn btn-primary">Add New Region</a></td>
  </tr>
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>&nbsp</td>
  </tr>
  <tr ng-repeat="region in regions">
    <td>{{region.regionId}}</td>
    <td>{{region.regionName}}</td>
    <td>
      <a class="btn btn-primary" ui-sref="viewRegion({id:region.regionId})">View</a>
      <a class="btn btn-danger"  ng-click="deleteRegion(region.regionId)">Delete</a>
    </td>
  </tr>
</table>
</body>
</html>